body {
    font-family: "微软雅黑", 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
}

* {
    list-style: none;
    text-decoration: none;
}

.comments-ul ul::-webkit-scrollbar {
    display: none;
}

.comments-ul ul {
    margin-top: 20px;
    font-size: 16px;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.comments-ul ul li {
    border-bottom: 1px solid #ddd;
    margin-left: -40px;
    margin-bottom: 15px;
}

.comments-ul ul li i {
    color: #ff4343;
    font-weight: normal;

}

.comments-ul ul li span {
    float: left;
    width: 50px;
    font-weight: normal;
}

.comments-ul ul li label {
    width: 60px;
    height: 100%;
}

.comments-ul ul li label {
    color: #ff4343;
    font-weight: normal;
}

.comments-ul ul li em {
    float: right;
    color: #ff4343;
    font-weight: normal;
}

.moves-ul ul::-webkit-scrollbar {
    display: none;
}

.moves-ul ul {
    margin-top: 20px;
    font-size: 16px;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.moves-ul ul li {
    border-bottom: 1px solid #ddd;
    margin-left: -40px;
    margin-bottom: 15px;
}

.moves-ul ul li i {
    color: #ff4343;
    font-weight: normal;

}

.moves-ul ul li span {
    float: left;
    width: 50px;
    font-weight: normal;
}

.moves-ul ul li label {
    width: 60px;
    height: 100%;
}

.moves-ul ul li label {
    color: #ff4343;
    font-weight: normal;
}

.moves-ul ul li em {
    float: right;
    color: #ff4343;
    font-weight: normal;
}

.users-ul ul::-webkit-scrollbar {
    display: none;
}

.users-ul ul {
    margin-top: 20px;
    font-size: 16px;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.users-ul ul li {
    border-bottom: 1px solid #ddd;
    margin-left: -40px;
    margin-bottom: 15px;
}

.users-ul ul li i {
    color: #ff4343;
    font-weight: normal;

}

.users-ul ul li span {
    float: left;
    width: 50px;
    font-weight: normal;
}

.users-ul ul li label {
    width: 60px;
    height: 100%;
}

.users-ul ul li label {
    color: #ff4343;
    font-weight: normal;
}

.users-ul ul li em {
    float: right;
    color: #ff4343;
    font-weight: normal;
}

.announces-ul ul::-webkit-scrollbar {
    display: none;
}

.announces-ul ul {
    margin-top: 20px;
    font-size: 16px;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.announces-ul ul li {
    border-bottom: 1px solid #ddd;
    margin-left: -40px;
    margin-bottom: 15px;
}

.announces-ul ul li i {
    color: #ff4343;
    font-weight: normal;

}

.announces-ul ul li span {
    float: left;
    width: 50px;
    font-weight: normal;
}

.announces-ul ul li label {
    width: 60px;
    height: 100%;
}

.announces-ul ul li label {
    color: #ff4343;
    font-weight: normal;
}

.announces-ul ul li em {
    float: right;
    color: #ff4343;
    font-weight: normal;
}
